* {
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.loja-container {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

.loja-imagem {
    flex: 1;
    padding: 10px;
}

.loja-imagem img {
    max-width: 100%;
    height: auto;
}

.loja-titulo {
    flex: 1;
    padding: 10px;
}

.produtos-container {
    margin-top: 20px;
}

.produtos-lista {
    display: flex;
    flex-wrap: wrap;
}

.produto {
    flex: 1 0 25%;
    padding: 10px;
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
}

.produto h3 {
    margin-top: 10px;
}

.produto p {
    margin-top: 5px;
}

.produto .botao {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}

@media screen and (max-width: 820px) {
.loja-container {
    flex-direction: column;
    display: block;
    padding: 30px;
}

.produtos-container {
    margin-top: 20px;
    padding: 35px;
}

.produtos-lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 30px;
}
}

@media screen and (max-width: 480px) {
.loja-container {
    flex-direction: column;
    display: block;
    padding: 0;
}

.produtos-container {
    margin-top: 20px;
    padding: 5px;
}

.produtos-lista {
    display: grid;
    grid-template-columns: none;
    padding: 5px;
}
}